:root{
 --primary-text-color: #757575;
 --title-text-color: #212121;
 --primary-bg-color: #FFFFFF;
 --accent-color:#2196F3;
 --footer-bg-color:#2F303A;
 --our-command-background-button-portfolio-color: #f5f4fa;
 --header-color:#ececec;
 --hero-footer-text-color: #ffffff;
 --contact-footer-text-color: #ffffff60;
 --portfolio-bg-color: #EEEEEE;
 --card-set-gap: 30px;
 --footer-social-background-color: #ffffff10;
 --color-social-link-and-clients: #afb1b8;
}

body{
    background-color:var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: 'roboto', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

.link{
    text-decoration: none;
}


/* header */
.header{
    border-bottom: 1px solid var(--header-color);
}

.header-container{
    display: flex;
    align-items: center;
}

.header nav{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    gap: 93px;
}

.logo{
    display: inline-block;
    color: var(--title-text-color);
    font-family: 'raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    padding-bottom: 24px;
    padding-top: 24px;

}

.logo-accent{
   color: var(--accent-color); 
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
} 

.site-nav .link {
    display: block;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0px;
  }
  
.site-nav .link-current{
    display: block;
    color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0px;
}

.site-nav{
    display: flex;
    gap: 50px;
    justify-content: start;
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.contact-up{
    display: flex;
    align-items: center;
    margin-left: 344px;
    gap: 30px;
}

.contact-up-link {
  display: flex;
  align-items: center;
  fill: var(--primary-text-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0px;
  gap: 10px;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-up-link:hover,
.contact-up-link:focus
.contact-up-link svg path:hover,
.contact-up-link svg path:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}



.visualy-hiden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* footer */
.footer {
    background-color: var(--footer-bg-color);
    padding: 60px 0px;
  }
  .footer-logo {
    display: inline-block;
    color: var(--hero-footer-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 20px;
  }
  .footer-logo:hover,
  .footer-logo:focus {
    color: var(--accent-color);
  }
  .location-list:not(:last-child) {
    margin-bottom: 9px;
  }
  .location-map {
    display: inline-block;
    color: var(--hero-footer-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .location-mail,
  .location-phone {
    display: block;
    color: var(--contact-footer-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
  }
  .location-map:hover,
  .location-map:focus {
    color: var(--accent-color);
  }
  .location-mail:hover,
  .location-mail:focus {
    color: var(--accent-color);
  }
  .location-phone:hover,
  .location-phone:focus {
    color: var(--accent-color);
  }

  .footer-style {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }
  .footer-social {
    margin-top: 12px;
  }
  .footer-social-text {
    display: flex;
    text-transform: uppercase;
    color: var(--hero-footer-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .footer-social-list {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .footer-social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--hero-footer-text-color);
    background-color: var(--footer-social-background-color);
    border-radius: 50%;
  }

.footer-social-item:hover,
.footer-social-item:focus {
  fill: var(--hero-footer-text-color);
  background-color: var(--accent-color);
}


/* main */
/* hero */
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero.section{
    height: 600px;
    background-color: var(--footer-bg-color);
    padding: 200px 0px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
      ),
      url(../images/headerpic.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}

.hero-title{
    color: var(--primary-bg-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    max-width: 696px;
    margin-top: 0;
    margin-bottom: 30;
}

.hero-button{
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.section-title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1230px;
    padding: 0px 15px 0px 15px;
  }


/* benefits */
.benefits{
    padding: 94px 0px;
}

.benefits-list{
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.picture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  background-color: var(--our-command-background-button-portfolio-color);
}


.benefits-list .title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0px;
    margin-bottom: 10px;
}

.benefits-list .text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 270px;
}
/* our works */
.section {
    padding-bottom: 94px;
  }

.section-work {
    display: flex;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
    justify-content: center;
  }

.section-image {
    display: flex;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  
.section-image-card {
    width: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
  }
  
.section-image-view {
    display: block;
    max-width: 100%;
  }

/* our command */
.command {
  background-color: var(--our-command-background-button-portfolio-color);
  padding: 94px 0px;
}
.command-list {
  display: flex;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}
.command-item {
  width: 270px;
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}
.comand-image {
  display: block;
  max-width: 100%;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--hero-footer-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
.command .title {
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}
.command-subtitle {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0px;
}
.command-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 16px;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--color-social-link-and-clients);
  background-color: var(--hero-footer-text-color);
  border-radius: 50%;

  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover,
.social:focus {
  fill: var(--hero-footer-text-color);
  background-color: var(--accent-color);
}

/* clients */
.clients {
  padding: 94px 0;
}
.clients-title {
  display: flex;
  justify-content: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  gap: 30px;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-logo {
  display: flex;
  fill: var(--color-social-link-and-clients);
  border: 1px solid var(--color-social-link-and-clients);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-logo:hover,
.clients-logo:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* portfolio page */
.example {
    padding: 94px 0px;
  }
  
.example-button {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 50px;
}

.button{
    color: var(--title-text-color);
    background-color: var(--our-command-background-button-portfolio-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
}

.button.current{
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.button:hover,
.button:focus{
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
/* examples */

.card{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
}

.card-item{
    width: 370px;
    margin-top: var(--card-set-gap);
    margin-left: var(--card-set-gap);
}

.card-item:hover{
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.card-description{
    border: 1px solid var(--portfolio-bg-color);
    border-top: none;
    padding: 20px 24px;
}

.card-image {
    display: block;
    max-width: 100%;
}

.card-title{
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
}

.card-text{
   color: var(--primary-text-color);
   font-size: 16px;
   line-height: 1.88; 
   letter-spacing: 0.03em;
   margin-bottom: 0px;
   margin-top: 0px;
}

.card .card-link {
    text-decoration: none;
  }
  .card .card-link :hover,
  .card .card-link :focus {
    color: var(--accent-color);
  }







