.benefits {
    padding: 94px 0px;
  }
  
  .benefits-list {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    gap: 30px;

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        height: 120px;
        width: 270px;
        background-color: var(--our-command-background-button-portfolio-color);
      }

    &__title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0px;
        margin-bottom: 10px;
      }  

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 270px;
      }  
  }
  